<html>
<head>

			<meta http-equiv="Content Type" content="text/html; charset=UTF-8"/>
			<link rel="stylesheet" href="../scripts/student.css" type= "text/css"charset="utf-8"/>
			<link rel="stylesheet" href="../scripts/demo.css" type= "text/css"charset="utf-8"/>
			<link rel="stylesheet" href="../scripts/final.css" type= "text/css"charset="utf-8"/>
			

	



</head>
	<body>

		<div id="profile_wrap">

  				<div id ="names"> My Name is: <%= @student.first  %>  <%= @student.last  %></div>
 
  				
				<div id="studentphoto">
				 
        			<img src="http://itp.nyu.edu/~rsm347/sinatra/image_upload/public/<%= @filename %>" />
   				 </body>

<!-- 					<img src="http://www.furaha-robin.com/~robinreid/sinatra/next_step/views/images/yankeeStreet.jpg"/> -->
					
				</div>
				
  				<div id="biography"> <%= @student.bio %></div>
  		</div>
		


		<div class="forkit-curtain">
			<div class="close-button"></div>
			<h2><%@student.first %></h2> 
			


		<div id="studentfilm"> 

<!-- 			<video></video> -->

		</div>

 	<div id="studentvisionboard"></div> 




<!--
			<img src="http://placekitten.com/g/200/200">
			<img src="http://placekitten.com/g/201/200">
			<img src="http://placekitten.com/g/202/200">
			<img src="http://placekitten.com/g/204/200">
-->

 		</div> 
 		
 		</div>
		

		<!-- The ribbon -->
		<a class="forkit" data-text="Discover Me!" data-text-detached="Drag down >" href="https://github.com/hakimel/forkit.js"><img style="position: absolute; top: 0; right: 0; font-size: 12px; border: 0;" src="https://a248.e.akamai.net/camo.github.com/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>



<script type="text/javascript" src="../js/forkit.js"></script> 
		</body>
	</html>